
accessTokenUrl:https://{name}.internal.iot.ocs.oraclecloud.com/iotapps/privateclientapi/v2/oauth/hereMapToken
accessTokenUsername:{username}
accessTokenPassword:{password for corresponding user}
baseUrl:https://{name}.internal.iot.ocs.oraclecloud.com
vehicleConnectorUrl:{OBD2 device connector URL}
equipmentConnectorUrl:{Equipment connector URL}
username:{username}
password:{password for corresponding user}
